<body>
    <table style = "width: 100%">
        <tr>
            <th>Resource Id</th>
            <th>Resource Name</th>
            <th>Resource Type</th>
            <th>Availability</th>
                <!-- <tr *ngFor="let >
                    <td>{{}}</td>
                    <td>{{}}</td>
                    <td>{{}}</td>
                    <td>
                    <button (click)="OnClick(emp.availability)">View availability</button>
                    </td>
        </tr> -->
    </table>
</body>