.title {
    text-align: center;
    color: rgb(238, 105, 28);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(161, 219, 219);
    margin-left: 20px;
}
form {
    border: 3px solid gray;
    text-align: center;
}
input[type=text], input[type=password] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
}
button:hover {
    opacity: 0.7;
}
.container {
    padding: 16px;
    border: 3px solid rgba(0, 0, 0, 0.8);
}
.validator {
    color: red;
}
label {
    display: inline-block;
    width: 140px;
    text-align: right 
}
.header{
    margin: 20px;
}