<div class="title">
    <h1>{{pageTitle}}</h1>
</div>
<h2 class="header">Login</h2>
<body>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="container">
                <div class="form-group">
                    <label for="email_id">E-mail:</label>
                    <input type="text" placeholder="Enter email id" formControlName="email_id" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.email_id.errors }" /><br>
                    <div *ngIf="submitted && form.email_id.errors" class="invalid-feedback">
                        <div class="validator" *ngIf="form.email_id.errors.required">Email Id is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" placeholder="Enter password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.password.errors }" /><br>
                    <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
                        <div class="validator" *ngIf="form.password.errors.required">Password is required</div>
                    </div>
                </div>
                <div class="form-group"><br>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
        </div>
    </form>
</body>
 